body{
	/*padding-top: 50px;*/
	padding: 30px; 
}

label{
	display: inline-block;
	width: 100%;
}

/*div{
	display: inline-block;
	width: 100%;
}*/

img{
	padding: 30px 30px 30px 0;
}

.js-search-results{
	margin: 0 auto;
}

input {
	border-radius: 3px;
	width: 200px;
	
}